body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}


/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 100px;
}

.navbar-title {
  font-size: 2rem;
  font-weight: bold;
}

/* Home Page Styles */
.home {
  background-image: url('./assets/cricket-bg.jpg'); /* Updated path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.home h1 {
  font-size: 4em; /* Increase font size */
  margin: 0;
  font-weight: bold; /* Optional: make text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Registration Form Styles */
.registration-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}

.registration-form h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
 text-align: center;
}

.registration-form label {
  display: block;
  margin-bottom: 8px;
 
}

.registration-form input,
.registration-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.registration-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #555;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.about-image {
  border: 5px solid #000; /* Black border with a thickness of 5px */
  border-radius: 8px;     /* Optional: rounded corners */
  padding: 4px;           /* Optional: space between border and image */
  background-color: #fff; /* Optional: background color behind the image */
}